<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

    <div>
      <h1>South Hills School of Business and Technology</h1>
    </div>

  <!--This will be for the application and when you click apply it will take you to the application-->
  <ion-content>
    <h1>Apply now in 1 easy click!</h1>
    <ion-button shape="round">Apply Now!</ion-button>
    <br>
    <br>
    <br>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Schedule a campus visit today!</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      State College Hours:   

      Monday 8:00am—5:00pm
      Tuesday 8:00am—5:00pm
      Wednesday 8:00am—7:00pm
      Thursday 8:00am—7:00pm
      Friday 8:00am—5:00pm

      <br>

      Altoona Hours:   

      Altoona
      Monday 7:30am—7:00pm
      Tuesday 7:30am—5:00pm
      Wednesday 7:30am—5:00pm
      Thursday 7:30am—5:00pm
      Friday 7:30am—5:00pm
    </ion-card-content>

    <!--Will make buttons work later testing UI Components now and making layout-->
  
    <ion-button fill="clear">State College Campus</ion-button>
    <ion-button fill="clear">Altoona Campus</ion-button>
  </ion-card>
  
</ion-content>
