div {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 40px;
    text-align: center;
}

.title, h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.list {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img {
    height: 20%;
    width: 35%;
}

.applyLink {
    text-align: center;
    color: white;
    background-color: rgb(0, 140, 255);
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 4em;
    border: 2px solid rgb(0, 140, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

ion-item, ion-label, a {
    text-align: center;
    font-size: x-large;
}

ion-card-header {
    color: black;
    text-align: center;
    font-size: x-large;
}

ion-title {
    color: black;
}


h2, li {
    color: black;
    justify-content: center;
}

.normalLinks {
    text-decoration: underline;
    font-size: medium;
}

.centeredListItems a {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}